.logo {
  display: block;
  text-indent: -9999px;
  background-origin: content-box;
  width: 10rem;
  height: 2rem;
  background: url(../img/bc-logo-ondark.svg) no-repeat center center;
  background-size: 8rem 2rem;
  color: white;
}

.no-svg .logo {
  background: url(../img/bc-logo-ondark.png) no-repeat center center;
}

.disclaimer {
    font-size: smaller;
    color: darkgrey;
}

/* Responsive container for Brightcove Player/VideoJS */
.outer {
  width: 100%;
  display: block;
  position: relative;
  margin: 20px auto;
}
.outer:after {
  padding-top: 56.25%;
  display: block;
  content: '';
}
.video-js {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Responsive container for Smart Player */

.video-container {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}

/* Stretch the player 100% of container */
.BrightcoveExperience {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Text color for menu items in Brightcove Player */
.vjs-menu .vjs-menu-item {
  color: white;
}

/* Position playback rate switch on Brightcove Player */
.video-js .vjs-playback-rate {
  order: 7; /* after the progress bar but before the volume button */
  -webkit-box-ordinal-group: 7;
  -moz-box-ordinal-group: 7;
  -webkit-order: 7;
  -ms-flex-order: 7;
  margin-bottom: 20px;
}

.panel .vjs-overlay-onceux-countdown-text {
  color: white;
}