body {
    background-color: #000000;
}

.myButton {
    -moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
    -webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
    box-shadow:inset 0px -3px 7px 0px #29bbff;
    background-color:#2dabf9;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #0b0e07;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    padding:9px 23px;
    text-decoration:none;
    text-shadow:0px 1px 0px #263666;
}
.myButton:hover {
    background-color:#0688fa;
}
.myButton:active {
    position:relative;
    top:1px;
}

.buttonContainer {
    position: relative;
    width: 345px;
    margin: 0 auto;
}

.video-js {
    height: 450px;
    width: 800px;
    float: left;
}
.myplayer {
  width: 1200px;
  height: 450px;
  position: relative;
  margin: 0 auto;
}

.vjs-playlist {
    width: 120px;
    max-height: 433px;

}


